/* main container styling */
.parent{
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 2px;
    height: 75vh;
    box-sizing: border-box;
}

/* left container */
.left{
    left: 10px;
    height: 75vh;
    width: 25vw;
    border-radius: 10px;
}

.library{
    position: relative;
}

.library img{
    height: 2vw;
    width: 2vw;
}

.library p{
    height: 1vw;
    width: 7vw;
    font-size: large;
    color: white;
}


/* right container */
.right{
    flex-direction: column;
    position: relative;
    left: 10px;
    height: 75vh;
    width: 72vw;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.right::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Sptotify Playlists */
.cardContainer{
    /* margin: 10px; */
    overflow-x: auto;
    width: 72vw;
}

.cardContainer::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}
.card{
    flex: 0 0 15%;
}

/* footer styling */
.footer{
    margin :2px;
    margin-top: auto;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 69vw;
    bottom: 0;
}

.footer-left{
    margin: var(--margin);
    padding: var(--padding);
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 2vw;
    height: 10vh;
    width: 35vw;
    border-radius: 10px;
}

.footer-left p{
    margin: var(--margin);
    padding: 3px;
}

.footer-right{
    margin: var(--margin);
    padding: var(--padding);
    justify-content: right;
    align-items: center;
    position: absolute;
    right: 1vw;
}

.footer-right p{
    margin: var(--margin);
    padding: 3px;
}