/* main container styling */
.parent{
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 2px;
}

/* left container */
.left{
    left: 10px;
    height: 75vh;
    width: 25vw;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
}

.library{
    position: relative;
    /* margin : var(--margin); */
    /* padding: var(--padding); */
}

.library img{
    height: 2vw;
    width: 2vw;
}

.library p{
    height: 1vw;
    width: 7vw;
    font-size: large;
    color: white;
}

/* right container */
.right{
    position: relative;
    left: 10px;
    height: 75vh;
    width: 72vw;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
}


/* footer styling */
.footer{
    margin :2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 69vw;
    bottom: 0;
}

.footer-left{
    margin: var(--margin);
    padding: var(--padding);
    /* display: flex; */
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 2vw;
    /* bottom: 0; */
    height: 10vh;
    width: 35vw;
    border-radius: 10px;
}

.footer-left p{
    margin: var(--margin);
    padding: 3px;
}

.footer-right{
    margin: var(--margin);
    padding: var(--padding);
    /* display: flex; */
    justify-content: right;
    align-items: center;
    position: absolute;
    /* bottom: 0; */
    right: 1vw;
}

.footer-right p{
    margin: var(--margin);
    padding: 3px;
}