:root{
    --margin: 10px;
    --padding: 5px;
}

body{
    background-color: black;
    color: white;
}

/* navbar styling */
nav{
    margin: 6px;
    padding: 2px;
    position: relative;
    width: 90vw;
}


/* spotify brand logo styling */
.brand-logo img{
    margin: var(--margin);
    position: relative;
    right: 12vw;
    height: 3vw;
    width: 32vw;
}
.brand-logo:hover{
    cursor: pointer;
}

/* home button styling */
.home{
    position: relative;
    justify-content: center;
    align-items: center;

}

.home:hover{
    cursor:pointer;
}
.home-button{
    margin: 5px;
    height: 60px;
    width: 60px;
    border: 2px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
}
.home-button:hover{
    cursor: pointer;
}

/* search bar styling */
.search{
    margin: 10px;
    position: relative;
    height: 50px;
    width: 500px;
    border: 2px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
}
.search img{
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px; 
    width: 30px;
}
.search input{
    margin: -1px;
    position: relative;
    left: 50px;
    height: 45  px;
    width: 500px;
    border: 2px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
    font-size: medium;
    color: white;
}

.search input:focus{
    outline: none;
}


/* profile picture styling */

.pfp{
    margin: var(--margin);
    position: relative;
    left : 10vw;
    justify-content: center;
    align-items: center;
}
.pfp button{
    margin: 10px;
    padding : 5px;
    position: relative;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.pfp button:hover{
    cursor:pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
}


