.playbar{
    position:fixed;
    top: 90vh;
}

/* left side */
.playbar-left{
    justify-content: left;
    align-items: center;
    position: relative;
    left: 2vw;
    width: 34vw;
    border-radius: 10px;
}

/* center */
.playbar-center{
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1vh;
    width: 35vw;
    border-radius: 10px;
}

.playbar-info{
    position: relative;
    border-radius: 10px;
}

.seekbar{
    position: absolute;
    left: 38vw;
    width: 29%;
    height: 1vh;
    bottom: 0vh;
    border-radius: 10px;
    border: 2px solid white;
}

.seekbar:hover{
    cursor: pointer;
}


.songTime{
    position: absolute;
    left: -5vw ;
    top: -7px;
    color: white;
}

.seekbar-fill {
    width: 0%;
    height: 1vh;
    background-color: #4caf50;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    transition: left 0.5s;
}

/* right side */
.playbar-right{
    justify-content: right;
    align-items: center;
    position: relative;
    right: 9vw;
    width: 30vw;
    border-radius: 10px;
}

.volume{
    position: relative;
    left: 1vw;
}