.playbar-left{
    justify-content: left;
    align-items: center;
    position: relative;
    left: 2vw;
    width: 35vw;
    border-radius: 10px;
}

.playbar-info{
    position: relative;
    
    border-radius: 10px;

}

.playbar-center{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35vw;
    border-radius: 10px;
}

.playbar-right{
    justify-content: right;
    align-items: center;
    position: relative;
    right: 2vw;
    width: 35vw;
    border-radius: 10px;
}

.seekbar{
    position: relative;
    left: 34vw;
    width: 30vw;
    height: 1vh;
    border-radius: 10px;
    border: 2px solid white;
}

.circle{
    position: relative;
    left: 0%;
    bottom: 6px;
    right: 2px;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    transition: left 0.5s;
}

.songTime{
    position: absolute;
    left: -50px;
    top: -7px;
    color: white;
}