.playbar{
    position:fixed;
    bottom: 0;
}

.playbar-left{
    justify-content: left;
    align-items: center;
    position: relative;
    left: 2vw;
    width: 35vw;
    border-radius: 10px;
}

.playbar-info{
    position: relative;
    
    border-radius: 10px;

}

.playbar-center{
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2vh;
    width: 35vw;
    border-radius: 10px;
}

.playbar-right{
    justify-content: right;
    align-items: center;
    position: relative;
    right: 10vw;
    width: 35vw;
    border-radius: 10px;
}

.seekbar{
    position: absolute;
    left: 38vw;
    width: 30%;
    height: 1vh;
    bottom: 2vh;
    border-radius: 10px;
    border: 2px solid white;
}

.seekbar:hover{
    cursor: pointer;
}
.circle{
    position: relative;
    left: 0%;
    bottom: 7px;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    transition: left 0.5s;
    cursor : pointer;
}

.songTime{
    position: absolute;
    left: -5vw ;
    top: -7px;
    color: white;
}

.seekbar-fill {
    width: 20px;
    height: 1vh;
    background-color: #4caf50;
    position: absolute;
    left: 0%;
    transition: left 0.5s;
}