@media (max-width: 1200px) {

    /* navbar responsiveness */
    .navbar{
        width: 100vw;
        left: 0px;
    }
    .navbar .brand-logo{
        width: 25vw;
        margin: 0px;
        padding: 0px;
    }

    .navbar .home-button{
        display: none;;
    }

    .navbar .search{
        width: 40vw;
    }

    .navbar .pfp{
        width: 20vw;
    }
    .parent{
        width: 100vw;
        left: 0px;

    }
    .left{
        position: fixed;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        top: 0;
    }

    .right{
        width: 100vw;
        left: 0px;
    }

    .footer{
        width: 100vw;
        left: 0vw;
    }
    .footer-left{
        width: 50vw;
    }
    .playbar{
        width: 100vw;
    }

    .pfp{
        width: 50px;
        height: 50px;
    }
}