/* larger screen displays like tablet */
@media (max-width: 1200px) {

    /* navbar responsiveness */
    .navbar{
        width: 100vw;
        left: 0px;
    }
    .navbar .brand-logo img{
        width: 39vw;
        height: 7vh;
        margin: 0;
        padding: 0;
    }

    .navbar .search{
        width: 7vw;
        position: relative;
        left: 5vw;
        z-index: 1;
    }

    .navbar #search{
        display: none;
        width: 40vw;
    }

    .navbar #browse{
        display: none;
    }
    .navbar .pfp{
        width: 26vw;
        position: relative;
        left: 5vw;
    }

    /* main responsiveness */
    .parent{
        width: 100vw;
        left: 0px;
    }

    /* Left container */
    .left{
        position: fixed;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        background-color: black;
        padding: 0;
        height: 100vh;
        top: 0;
        width: 50vw;
    }

    .left .library {
        position:sticky;
        top: 0vh;
    }
    .left .library p{
        width: 25vw;
    }
    .left .library .cross{
        display: block;

    }

    .left .library button img{
        height: 5vh;
    }
    .left .songList{
        position: relative;
        top: 2vh;
        height: 90vh;
        width: 46vw;
    }

    .songList ul li{
        width: 35vw;
    }

    /* Right Container */
    .right{
        width: 100vw;
        left: 0px;
    }

    .right .hamburger-right button{
        position: relative;
        left: 0px;
        display: block;
    }

    .right h2{
        position: relative;
        left: 1vw;
    }

    .cardContainer{
        position: relative;
        height: 36vh;
    }

    .greenbutton{
        display: none;
    }

    /* footer */
    .footer{
        width: 100vw;
        left: 0vw;
    }
    .footer-left{
        width: 79vw;
    }


    .footer-right{
        display: none;
    }

    /* playbar */
    .playbar{
        width: 100vw;
        position: fixed;
        bottom: 4vh;
    }

    .songTime{
        position: relative;
        left: -10vw;
    }
    .seekbar{
        bottom: -3vh;
    }
}

/* mobile screens width */
@media (max-width:500px){
    /* navbar */
    .navbar{
        width: 100vw;
        left: 0px;
    }
    .navbar .brand-logo{
        display: none;
    }

    .navbar .search{
        width: 12vw;
        position: relative;
        left: 1vw;
        z-index: 1;
    }

    .navbar #search{
        display: none;
        width: 100vw;
    }

    .navbar #browse{
        display: none;
    }
    .navbar .pfp{
        position: relative;
        left: 10vw;
        width: 50vw;
    }


    /* main container */
    .parent{
        width: 99vw;
        left: 0px;
    }


    /* left container */
    .left{
        width: 99vw;
    }

    .left .library {
        position:sticky;
        top: 0vh;
    }
    .left .library{
        justify-content: space-around;
    }

    .left .library button img{
        height: 5vh;
    }

    .left .songList{
        width:99vw;
    }

    .songList ul li{
        width: 76vw;
    }

    /* right container */
    .right{
        width: 99vw;
        left: 0px;
    }

    .cardContainer{
        flex-wrap: wrap;
        position: relative;
        width: 98vw;
        height: 90vh;
    }

    .card{
        width: 95vw;
        height: auto;
        flex: 0 0 90%;
    }
    /* footer */

    .footer{
        display: none;
    }
    /* playbar */
    .playbar{
        bottom: 2vh;
    }
    .playbar .playbar-left img{
        display: none;
    }
    .playbar .playbar-right img{
        position: relative;
        bottom: 10px;
    }
    .playbar .playbar-right input{
        display: none;
    }
    .songTime{
        position: relative;
        left: 32vw;
        top: -6px;
    }
    .seekbar{
        bottom: -1vh;
    }

}