/* main container styling */
.parent{
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 2px;
    height: 75vh;
    box-sizing: border-box;
}


/* right container */
.right{
    flex-direction: column;
    position: relative;
    left: 10px;
    height: 75vh;
    width: 72vw;
    border-radius: 10px;
    overflow: hidden;            
    overflow-y: auto;       /* Vertical scroll */
}

.right::-webkit-scrollbar {
    /* display: none;         Hides the  vertical scrollbar in this container */
    width : 12px;
}

.right::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}

/* Sptotify Playlists */
.cardContainer{
    overflow-x: auto;     /* Horizontal scroll */
    width: 72vw;
    justify-content: space-evenly;
    position: relative;
}

.cardContainer::-webkit-scrollbar {
    /* display: none; Hides the  horizontal scrollbar in this container */
    width : 4px;
}

.cardContainer::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 15px;
}


.card{
    flex: 0 0 15%;    /*each card takes 15% of the container */
    border-radius: 20px;
    /* position: absolute; */
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    /* margin: 2px; */
    /* padding: 3px; */
}

.card h3{
    margin: 8px;
    padding: 5px;
    font-size: large;
    color: white;
}
.card p{
    margin: 8px;
    padding: 5px;
    font-size: small;
    color: white;
}

.card:hover{
    cursor: pointer;
    /* transform: scale(1.05); */
    background-color: rgba(58, 58, 58, 0.8);
}


/* Playbutton in card styling */
.greenbutton{
    position: relative;
    left: 115px;
    bottom: 165px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
}
.greenbutton button{
    border-radius: 35px;
}

.greenbutton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.greenbutton img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}


/* horizontal scrolling buttons */
/* .scroll-button {
    background-color:rgb(26, 23, 23);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;        /* Ensure buttons are above the content 
} */
/* .scroll-button:hover {
    background-color: rgb(47, 47, 47);
}

.scroll-button.left {
    position: relative;
    left: 0;
}

.scroll-button.right {
    position: relative;
    right: 0;
} */





/* footer styling */
.footer{
    margin :2px;
    margin-top: auto;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 69vw;
    bottom: 0;
}

.footer-left{
    margin: var(--margin);
    padding: var(--padding);
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 2vw;
    height: 10vh;
    width: 35vw;
    border-radius: 10px;
}

.footer-left p{
    margin: var(--margin);
    padding: 3px;
}

.footer-right{
    margin: var(--margin);
    padding: var(--padding);
    justify-content: right;
    align-items: center;
    position: absolute;
    right: 1vw;
}

.footer-right p{
    margin: var(--margin);
    padding: 3px;
}