.background-color{
    background-color: rgba(40, 40, 40, 0.8);
}
.border{
    border: 2px solid white;
}

.default{
    margin: 10px;
    padding: 5px;
}
.flex{
    display: flex;
}
.grid{
    grid-template-columns: 50px 50px 50px;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}

.invert{
    filter: invert(1);
}

.font{
    font-family: "Poppins", sans-serif;
    /* font-size: 1.2rem; */
    font-style: normal;
}


.button{
    margin: 10px;
    padding: 5px;
    font-size: small;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}