:root{
    --margin: 10px;
    --padding: 5px;
}

body{
    background-color: black;
    color: white;
}

/* navbar styling */
nav{
    margin: 6px;
    padding: 2px;
    position: relative;
    width: 90vw;
}


/* spotify brand logo styling */
.brand-logo img{
    margin: var(--margin);
    position: relative;
    right: 12vw;
    height: 3vw;
    width: 32vw;
}
.brand-logo:hover{
    cursor: pointer;
}

/* home button styling */
.home{
    position: relative;
    justify-content: center;
    align-items: center;

}

.home:hover{
    cursor:pointer;
}
.home-button{
    margin: 5px;
    height: 60px;
    width: 60px;
    border: 2px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
}
.home-button:hover{
    cursor: pointer;
}

/* search bar styling */
.search{
    margin: 10px;
    position: relative;
    height: 50px;
    width: 500px;
    border: 2px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
}
.search img{
    position: relative;
    left: 10px;
    top: 10px;
    height: 30px; 
    width: 30px;
}
.search input{
    margin: -1px;
    position: relative;
    left: 45px;
    height: 45  px;
    width: 400px;
    border: 2px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
    font-size: medium;
}


/* profile picture styling */

.pfp{
    margin: var(--margin);
    position: relative;
    left : 10vw;
    justify-content: center;
    align-items: center;
}
.pfp button{
    margin: 10px;
    padding : 5px;
    position: relative;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.pfp button:hover{
    cursor:pointer;
}


/* main container styling */
.parent{
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 2px;
}
.left{
    left: 10px;
    height: 75vh;
    width: 25vw;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
}
.right{
    position: relative;
    left: 10px;
    height: 75vh;
    width: 72vw;
    /* border: 2px solid white; */
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
}




/* footer styling */
.footer{
    margin :2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 69vw;
    bottom: 0;
}

.footer-left{
    margin: var(--margin);
    padding: var(--padding);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5vw;
    /* bottom: 0; */
    height: 10vh;
    width: 15vw;
    border-radius: 10px;
}

.footer-left p{
    margin: var(--margin);
    padding: 3px;
}

.footer-right{
    margin: var(--margin);
    padding: var(--padding);
    /* display: flex; */
    justify-content: right;
    align-items: center;
    position: absolute;
    /* bottom: 0; */
    left: 35vw;
}

.footer-right p{
    margin: var(--margin);
    padding: 3px;
}