.black-border{
    border: 2px solid black;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}
:root{
    margin: 5px;
    padding: 2px;
}